/*General styles*/
h1{
    text-align: center;
    background-color: rgb(45, 45, 141);
    color: white;
}
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 100px;
    background-color: whitesmoke;
}
.button{
    font-size: 25px;
    background-color: grey;
    color: blue;
    

}
header {
    background: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}
* {
    box-sizing: border-box;
       text-align: center;

   }
   
   
   .hero-content {
        height: 200px;
        padding-top: 30px;
       text-align: center;
       align-items: center;
   }
   
   .profile-image {
       border-radius: 50%;
       width: 150px;
       height: 150px;
       margin-right: 20px;
       text-align: center;
   }
   
   .button {
       display: inline-block;
       background: #007BFF;
       color: #fff;
       padding: 10px 15px;
       text-decoration: none;
       border-radius: 5px;
       margin-top: 10px;
   }
   
   .projects-container {
       justify-content: space-around;
       flex-wrap: wrap;
       margin: 20px 0;
       text-align: center;
   }
   
   .project-card {
       background: #f4f4f4;
       border: 1px solid #ddd;
       border-radius: 5px;
       padding: 15px;
       margin: 10px;
       width: 30%;
       text-align: center;
   }
   
   
   .social-icons {
    text-align: center;
       justify-content: center;
       margin: 10px 0;
       size: 0cap;
   }
   
   footer {
       text-align: center;
       padding: 20px;
       background: #333;
       color: #fff;
   }
   
   @media (max-width: 768px) {
       .hero-content {
           flex-direction: column;
           align-items: center;
       }
   
       .projects-container {
           flex-direction: column;
           align-items: center;
       }
   
       .project-card {
           width: 80%;
       }
   }
   .img_1{
    width: 30px;
    height: 30px;
   }
   .hero{
    text-align: center;
   }